{% extends "core/base.html" %}
{% block title %}List of blogs{% endblock %}

{% block extra-nav %}
    <ul class="nav navbar-nav navbar-left">
        <li class="active">
            <a href="{% url 'blogs:blogs' %}">Blogs</a>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li>
            {% if user.is_authenticated %}
            <a href="{% url "logout" %}">Logout</a>
            {% else %}
            <a href="{% url "login" %}">Sign in</a>
        </li>
        <li>
            <a href="{% url "signup" %}">Sign up</a>
            {% endif %}
        </li>
    </ul>
{% endblock %}

{% block content %}

    <div class="alert alert-info alert-dismissable">

    {% if user.is_authenticated %}
        <p>Welcome, <strong>{{ user.username }}</strong>!
            <a href="{% url "logout" %}" class="alert-link">Logout</a>.</p>
    {% else %}
        Welcome! Please
        <a href="{% url "login" %}" class="alert-link">sign in</a> or
        <a href="{% url "signup" %}" class="alert-link">sign up</a>
        to post anything.
    {% endif %}
    </div>

    {% if user.is_authenticated %}
        <a href="{% url "blogs:create_blog" %}" class="btn btn-primary btn-block">Create blog</a>
        <br>
    {% endif %}

    {% for blog in object_list %}
        <div class="panel panel-default container">
            <div><a href="{% url 'blogs:blog_detail' blog.id %}">
                <h3>{{ blog.title }}</h3>
            </a></div>
            <div class="row">
              <div class="col-xs-10 col-md-4">
                  <strong>{{ blog.author }}</strong>
              </div>
              <div class="col-xs-4 col-md-4">
                  Created: {{ blog.created_at }}
              </div>
              <div class="col-xs-4 col-md-4">
                  Last update: {{ blog.updated_at }}
              </div>
            </div>
            <br>
            <div>
                {{ blog.description }}
            </div>
            <br>
        </div>
    {% endfor %}

{% endblock %}
