{% load widget_tweaks %}

{% load static %}
    <script type="text/javascript" src="{% static 'core/js/edit_post.js' %}"></script>

<form method="post" class="ajaxform" data-url="{% url 'blogs:edit_post' pk=post.id %}">
{% csrf_token %}
    {% for field in form %}
    <div class="form-group">
        {{ field.label_tag }}<br>
        {{ field|add_class:"form-control" }}
        {% if field.help_text %}
            <div class="btn btn-info">{{ field.help_text }}</div>
        {% endif %}
        {% if field.errors %}
            <br><br>
            <div class="alert alert-danger">{{ field.errors }}</div>
        {% endif %}

    </div>
    {% endfor %}
    <div class="form-group">
        <input type="submit" value="Edit post" class="btn btn-primary" />
        <a id="cancel" class="btn btn-danger"
               data-url="{% url 'blogs:post_container' pk=post.id %}">Cancel</a>
    </div>
    <br><br>
</form>