{% extends "core/base.html" %}
{% block title %}{{ blog.title }}{% endblock %}

{% load static %}
{% block extra %}
    <script type="text/javascript" src="{% static 'core/js/post_detail.js' %}"></script>
{% endblock %}

{% block content %}

    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'blogs:blogs' %}">Blogs</a></li>
        <li><a href="{% url 'blogs:blog_detail' post.blog.id %}">{{ post.blog.title }}</a></li>
        <li class="active">{{ post.header }}</li>
    </ol>

    <div class="row">

    <div class="col-md-8">

    <div id="edit-area" data-url="{% url 'blogs:edit_post' post.id %}" >

        {% include 'blog/post_container.html' %}
    </div>

    {% if user.is_authenticated %}

    <strong>Add a comment:</strong>

    {% load widget_tweaks %}
    <form method="post" action="" class="ajaxform-comment" data-url="{% url 'blogs:post_detail' pk=post.id %}">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field|add_class:"form-control" }}
                {% if field.help_text %}
                    <div class="btn btn-info">{{ field.help_text }}</div>
                {% endif %}
                {% if field.errors %}
                    <br><br>
                    <div class="alert alert-danger">{{ field.errors }}</div>
                {% endif %}

            </div>
        {% endfor %}
        <div class="form-group">
            <input type="submit" value="Post" class="btn btn-default"/>
        </div>
        <br>
    </form>

    {% else %}
        <div class="alert alert-danger">
            Please
            <a data-url="{% url "login" %}" class="alert-link sign-in-button"
               data-toggle="modal" data-target="#sign-in">sign in</a> or
            <a href="{% url "signup" %}" class="alert-link">sign up</a>
            to leave a comment!
        </div>

    {% endif %}

    <h4>Comments:</h4>

    <hr>

    <div id="comments" data-url="{% url 'blogs:post_comments' pk=post.id %}">
        {% include "blog/comments.html" %}
    </div>

    </div>
    <div class="col-md-4">
        Здесь могла быть ваша реклама.
    </div>
    </div>

{% endblock %}
