<div class="container">

    {% if form.errors %}
        <div class="btn btn-danger container">Wrong username or password!</div>
        <br><br>
    {% endif %}

    {% load widget_tweaks %}
    <form method="post" action="{% url 'login' %}" class="form-inline">
        {% csrf_token %}
        <div class="form-group">
                {{ form.username.label_tag }}<br>
                {{ form.username|add_class:"form-control" }}
        </div>
        <br>
        <br>
        <div class="form-group">
                {{ form.password.label_tag }}<br>
                {{ form.password|add_class:"form-control" }}
        </div>
        <br>
        <br>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Log in" />
            <input type="hidden" name="next" value="{{ next }}" />
        </div>
    </form>
</div>